head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href=require("../../assets/images/favicon.ico") type="image/x-icon")
    link(rel="icon" href=require("../../assets/images/favicon.ico") type="image/x-icon")
    meta(name="robots" content="index, follow")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="description" content="Tóth Árpád vagyok, magasan képzett víz-, gáz-, fűtés és gázkészülék szerelő. Várom hívásukat 0-24")
    meta(name="keywords" content="víz, gáz, fűtés, szerelés, szerelő, víz- gáz- fűtésszerelés, kerület, Budapest, fűtésszerelő, központi fűtés, Pest megye és környéke")
    meta(property="og:title" content="Víz Gáz Profi")
    meta(property="og:description" content="Tóth Árpád vagyok, magasan képzett víz-, gáz-, fűtés és gázkészülék szerelő. Várom hívásukat 0-24")
    meta(property="og:image" content="http://vizgazprofi.hu/assets/images/brand.jpg")
    meta(property="og:url" content="http://vizgazprofi.hu")
    title Víz Gáz Profi
