section.hero
    .container
        img(src=require("../../assets/images/logo_white.png"))
        h1 Korszerűsítse otthonát velünk! #[br] Víz, gáz és fűtésszerelés szakértelemmel.
        a(href="tel=06-20-495-9037") 06 20 495 9037
section.introduction
    .container.mb-5
        .row
            .col-md.order-2.order-md-1.align-items-center
                img(src=require("../../assets/images/pipes.jpg") alt="Gáz szerelés")

            .col-md.order-1.order-md-2
                h2 Bemutatkozunk
                p.
                    Professzionális víz-, gáz- és fűtésszerelő szolgáltatásokat nyújtunk több évtizedes
                    tapasztalattal. Elhivatottsággal dolgozunk azon, hogy ügyfeleink maximálisan elégedettek
                    legyenek az elvégzett munkánk után. Legyen szó új rendszerek telepítéséről, karbantartásról vagy
                     korszerűsítésről, ránk számíthat.
    .container
        .row
            .col-md
                h2 Miért válasszon minket?
                p.
                    Nálunk a legfontosabb az ügyfél elégedettsége. Minden munkát a legnagyobb odafigyeléssel
                     és szakszerűséggel végzünk. Csapatunk jól képzett szakemberekből áll, akik a legújabb
                     technológiákat alkalmazzák a legjobb eredmény elérése érdekében. Velünk biztos lehet abban,
                      hogy otthona a legjobb kezekben van. Szolgáltatásaink
            .col-md
                img(src=require("../../assets/images/plumber.jpg") alt="Fűtés")

section.brands
    .container
        .row
            .col.text-align-center
                h2.
                    Javított gázkészülék#[br.break-sm] márkák
        .row
            .col
                p.
                    Ariston (cirkó, kombi cirkó), Baxi (cirkó, kombi cirkó), Beretta (vízmelegítő, cirkó, kombi cirkó),
                     Biasi (cirkó, kombi cirkó), Bosch (Vízmelegítő, cirkó, kombi cirkó), Buderus (cirkó, kombi cirkó),
                      Chaffoteaux (cirkó, kombi cirkó), Colibri (cirkó, kombi cirkó), Demrad (cirkó, kombicirkó),
                       Ferroli (vízmelegítő, cirkó, kombi cirkó), Fég (vízmelegítő, cirkó, kombi cirkó), ÉTI (állókazán),
                        Gorenje (tűzhely, főzőlap), Indesit (tűzhely, főzőlap), Lampart (konvektor),
                         Junkers (vízmelegítő, cirkó, kombi cirkó), Radiant (cirkó, kombi cirkó), Óceán(cirkó, kombi cirkó),
                          Immergas (cirkó, kombi cirkó), Saunier Duval (vízmelegítő, cirkó, kombi cirkó),
                           Stiebel-Eltron (cirkó, kombi cirkó), Termomax (állókazán), Termo-ÖV (állókazán),
                            Termotéka (állókazán), Vaillant (vízmelegítő, cirkó, kombi cirkó), Vesta (tűzhely),
                             Viesmann (cirkó, kombi cirkó), Westen (cirkó, kombi cirkó), Zanussi (tűzhely, főzőlap),
                              Electrolux (vízmelegítő, tűzhely, főzőlap), Mora (tűzhely), Pelgrim (tűzhely), Fagor (tűzhely, főzőlap), Karancs (tűzhely),
                               Hajdú (villanybojler, gázbojler), Quadriga (gázbojler), KF Gáz (gázbojler), Idropi (gázbojler),
                               Aeg (vízmelegítő)
section.water
    .container
        .row
            .col.text-align-center
                h2 Vízszerelés
        .row
            .col-md
                ul.list
                    li Vízszűrő
                    li Nyomsászabályozó
                    li Szifon és bűzelzáró vízbekötése
                    li Mosdó vagy mosogató cseréje
                    li WC és WC tartály vízszerelése
                    li Beépített WC tartály beépítése
                    li Mosógép vízbekötés
                    li Mosogatógép vízbekötés
                    li Vízszerelő Budapest
                    li Kerti csap valamint fagycsap
                    li Víztelenítő és ürítőcsap cseréje.
                    li Lefolyó és összefolyó
                    li Strang és főbetáp
            .col-md
                ul.list
                    li Ejtővezeték
                    li Felszállóvezeték
                    li Ágvezeték és leágazások
                    li Csatorna és vízelvezetők javítása
                    li Vízvezeték szerelő Budapest
                    li Csőtörés, valamint szivárgás javítása.
                    li Elfúrt és elvésett csövek hibaelhárítása.
                    li Bojlerek cseréje.
                    li Szivattyú és keringtető beépítése.
                    li Szerelvényezések.
                    li Kád, zuhanytálca cseréje.
                    li Fürdőszobák továbbá konyhák átalakítása.
                    li Mosdó és WC helyiségek kialakítás.
section.heaters
    .container
        .row
            .col.text-align-center
                h2 Gázszerelő, fűtésszerelő szolgáltatásaink
        .row
            .col-md
                ul.list.list--dark
                    li Karbantartás
                    li Kazán javítás
                    li Kazáncsere
                    li Gázkészülék szerelés
                    li Bekötőcső szerelés
                    li Füstgázcső csere
                    li Fűtésrendszer tisztítás
                    li Padlófűtés átmosás
            .col-md
                ul.list.list--dark
                    li Fűtéskorszerűsítés
                    li Gázbojlerek karbantartása, cseréje
                    li Gázflexi csere
                    li Gázkészülékek légtelenítés
                    li Gázkészülékek éves karbantartása
                    li Gáztűzhelyek cseréje, szerelése
                    li Központi fűtés tervezése, szerelése, cseréje
section.places
    .container
        .row
            .col
                h2 Víz és Fűtés-gázszerelés szolgáltatási területek
                p.
                    Budapest, Aszód, Biatorbágy, Budakalász, Budaörs, Diósd, Dunaharaszti, Dunakeszi, Dunavarsány,
                     Dömsöd, Érd, Göd, Gödöllő, Gyál, Halásztelek, Mogyoród, Monor, Piliscsaba, Pilisvörösvár, Pomáz,
                      Ráckeve, Szentendre, Százhalombatta, Telki, Tárnok, Üllő, Vecsés, Veresegyház, Vác, Fót, Sződ,
                       Sződliget, Solymár, Üröm, Pécel, Csömör, Adyliget, Alsórákos, Angyalföld, Aquincum, Aranyhegy-Ürömhegy-Péterhegy, Békásmegyer, Budafok, Budaliget, Budatétény, Cinkota, Csillaghegy, Csillebérc, Csúcshegy, Dobogó, Farkasrét, Ferihegy, Gazdagrét, Gellérthegy, Hármashatár-hegy, Havanna-lakótelep, Hűvösvölgy, Istenhegy, Káposztásmegyer, Kelenföld, Kispest, Kőbánya-Kertváros, Krisztinaváros, Lipótmező, Lipótváros, Nagytétény, Óbuda, Orbánhegy, Pasarét, Pesthidegkút-Ófalu, Pestszentimre, Rákoscsaba, Rákoskeresztúr, Rákosliget, Rákospalota, Rákosszentmihály, Régiakadémiatelep, Remetekertváros, Rendessytelep, Rézmál, Rómaifürdő, Rózsadomb, Sasad, Sashalom, Sashegy, Solymárvölgy, Soroksár, Svábhegy, Széchenyihegy, Székesdűlő, Szemlőhegy, Szépilona, Szépvölgy, Tabán, Terézváros, Törökvész, Újlipótváros, Újpalota, Újpest, Újpéteritelep, Vár, Városliget, Virányos, Vizafogó, Víziváros, Wekerletelep, Zugliget
                    #[br] #[br]I. kerület, II. kerület, III. kerület, IV. kerület, V. kerület, VI. kerület, VII. kerület, VIII.
                     kerület, IX. kerület, X. kerület, XI. kerület, XII. kerület, XIII. kerület, XIV. kerület, XV.
                     kerület, XVI. kerület, XVII. kerület, XVIII. kerület, XIX. kerület, XX. kerület, XXI. kerület
                     , XXII. kerület, XXIII. kerület



