nav
    div.container
        div.row.align-items-center.h-100
            div.col-md.col-2
                img(src=require("../../assets/images/logo_v1.png")).logo
            div.col.text-align-right
                a(href="tel=06204959037") Hívjon minket: 06 20 495 9037

